In [1]:
import pandas as pd
import numpy as np

In [2]:
#creating a new data frame
newdf = pd.DataFrame(np.random.rand(100,5))

In [3]:
newdf

           0         1         2         3         4
0   0.681951  0.306600  0.775945  0.826583  0.596941
1   0.827491  0.083177  0.732435  0.704576  0.820495
2   0.827769  0.493621  0.493091  0.382938  0.816335
3   0.278879  0.704664  0.006201  0.667752  0.367763
4   0.561656  0.716617  0.032378  0.858152  0.477373
..       ...       ...       ...       ...       ...
95  0.146073  0.885777  0.811014  0.101882  0.196525
96  0.626532  0.862366  0.986005  0.087541  0.472636
97  0.376436  0.355076  0.616348  0.483754  0.350658
98  0.981580  0.103077  0.539983  0.771328  0.776052
99  0.056411  0.109988  0.601038  0.826635  0.960457

[100 rows x 5 columns]

In [4]:
newdf.head()

          0         1         2         3         4
0  0.681951  0.306600  0.775945  0.826583  0.596941
1  0.827491  0.083177  0.732435  0.704576  0.820495
2  0.827769  0.493621  0.493091  0.382938  0.816335
3  0.278879  0.704664  0.006201  0.667752  0.367763
4  0.561656  0.716617  0.032378  0.858152  0.477373

In [5]:
#filtering by indexing
newdf[0][0]

0.6819514986369294

In [6]:
#filtering using loc paramter of data frame

newdf.loc[0,0]

0.6819514986369294

In [8]:
newdf.loc[[1,2],[1,2]]

          1         2
1  0.083177  0.732435
2  0.493621  0.493091

In [9]:
newdf.loc[[0,1],:]

          0         1         2         3         4
0  0.681951  0.306600  0.775945  0.826583  0.596941
1  0.827491  0.083177  0.732435  0.704576  0.820495

In [11]:
#filtering using relational operators
newdf.loc[(newdf[1]<0.1)]

           0         1         2         3         4
1   0.827491  0.083177  0.732435  0.704576  0.820495
5   0.385911  0.078894  0.074622  0.653075  0.215644
19  0.957576  0.085129  0.897269  0.848343  0.489813
22  0.735087  0.078463  0.503006  0.137738  0.382719
25  0.766935  0.042657  0.370801  0.353832  0.323114
35  0.727194  0.060998  0.820631  0.157694  0.564258
53  0.837587  0.053509  0.470139  0.356352  0.404509
59  0.090242  0.018492  0.834375  0.952539  0.468794
61  0.738469  0.069965  0.116800  0.001497  0.733933
71  0.833444  0.055282  0.328874  0.142315  0.959134
87  0.590756  0.029433  0.173764  0.319450  0.683371

In [15]:
# using relational and logical operators
newdf.loc[(newdf[1]<0.2) & (newdf[2]>0.190)]

           0         1         2         3         4
1   0.827491  0.083177  0.732435  0.704576  0.820495
19  0.957576  0.085129  0.897269  0.848343  0.489813
22  0.735087  0.078463  0.503006  0.137738  0.382719
25  0.766935  0.042657  0.370801  0.353832  0.323114
34  0.009792  0.169316  0.994355  0.687109  0.633522
35  0.727194  0.060998  0.820631  0.157694  0.564258
53  0.837587  0.053509  0.470139  0.356352  0.404509
59  0.090242  0.018492  0.834375  0.952539  0.468794
71  0.833444  0.055282  0.328874  0.142315  0.959134
73  0.838219  0.151659  0.935276  0.277261  0.783679
76  0.814547  0.133832  0.411427  0.347620  0.397462
92  0.440101  0.121195  0.828404  0.879291  0.163514
98  0.981580  0.103077  0.539983  0.771328  0.776052
99  0.056411  0.109988  0.601038  0.826635  0.960457

In [16]:
newdf[1].isnull()

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: 1, Length: 100, dtype: bool

In [17]:
df = pd.DataFrame({'name':['Alfred','Batman','Catwoman'],
                  'toy':[np.nan,'Batmobile','Bullwhip'],
                  'born':[pd.NaT,pd.Timestamp("1940-04-25"),pd.NaT]})

In [18]:
df

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [19]:
df.dropna()

     name        toy       born
1  Batman  Batmobile 1940-04-25

In [20]:
df.dropna(how='all')

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [21]:
df.dropna(axis=1)

       name
0    Alfred
1    Batman
2  Catwoman

In [22]:
df.notnull()

   name    toy   born
0  True  False  False
1  True   True   True
2  True   True  False

In [23]:
df.isnull()

    name    toy   born
0  False   True   True
1  False  False  False
2  False  False   True

In [27]:
df.loc[2,'name'] = 'Alfred'

In [28]:
df

     name        toy       born (2, name)
0  Alfred        NaN        NaT    Alfred
1  Batman  Batmobile 1940-04-25    Alfred
2  Alfred   Bullwhip        NaT    Alfred

In [29]:
df.drop_duplicates(subset=['name'],keep='first')

     name        toy       born (2, name)
0  Alfred        NaN        NaT    Alfred
1  Batman  Batmobile 1940-04-25    Alfred

In [30]:
newdf.nlargest(3,1)

           0         1         2         3         4
55  0.918902  0.986711  0.217942  0.370846  0.285548
83  0.497350  0.985092  0.762192  0.956617  0.435016
14  0.414083  0.970278  0.790298  0.512051  0.663491

In [31]:
newdf.nsmallest(3,1)

           0         1         2         3         4
59  0.090242  0.018492  0.834375  0.952539  0.468794
87  0.590756  0.029433  0.173764  0.319450  0.683371
25  0.766935  0.042657  0.370801  0.353832  0.323114