In [2]:
# handling excel files (xlxs)

In [3]:
import pandas as pd
import numpy as np

In [12]:
data = pd.read_excel(r"C:\Users\YASH\Downloads\juniors.xlsx", sheet_name='IT')

In [8]:
data

,JNTUK UNIVERSITY COLLEGE OF ENGINEERING VIZIANAGARAM (AUTONOMOUS),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Branch : Information Technology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,S.No,Hall Ticket No,Rank,Roll Number,Name of the Candidate,Sex,Caste,Region,Seat Category,Round,Remarks
2,1.0,50188030116.0,15572.0,21VV1A1201,AARI ESWAR,F,BC_D,AU,BC_C_GEN_AU,3.0,NaN
3,2.0,50161030014.0,8968.0,21VV1A1202,AMARA LINGESWARA RAO BODDAPATI,M,BC_B,AU,BC_B_GEN_AU,1.0,NaN
4,3.0,50161040115.0,9905.0,21VV1A1203,ANDROTHU HARSHA VIVEK GANGADHAR,M,BC_B,AU,BC_B_GEN_AU,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
66,65.0,50578020007.0,23603.0,21VV1A1265,YADLAPALLI SANKAR SAI NARAYANA,F,SC,AU,SC_GIRLS_AU,2.0,NaN
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SD/-
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VICE PRINCIPAL

In [9]:
data = pd.read_excel(r"C:\Users\YASH\Downloads\juniors.xlsx", sheet_name='CSE')

In [11]:
data

,JNTUK UNIVERSITY COLLEGE OF ENGINEERING VIZIANAGARAM (AUTONOMOUS),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Branch : Computer Science & Engineering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,S.No,H Number,Rank,Roll Number,Name of the Candidate,Sex,Caste,Region,Seat Category,Round,Remarks
2,1.0,50761020054.0,3275.0,21VV1A0501,ADABALA SRI VENKATA SAI MOUNIKA,F,OC,AU,OC_GIRLS_UR,1.0,NaN
3,2.0,50862020053.0,7574.0,21VV1A0502,AKHIL SAI BOPPUDI,M,OC,AU,OC_GEN_AU,3.0,NaN
4,3.0,50464080041.0,7790.0,21VV1A0503,ALURI BALA KALKI,M,OC,AU,OC_GEN_AU,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
64,63.0,50286010142.0,5645.0,21VV1A0563,YETCHINA VEDA VARSHINI,F,BC_B,AU,BC_B_GIRLS_AU,2.0,NaN
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SD/-
68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VICE PRINCIPAL

In [13]:
data.iloc[64,4] = 'worst fellow'

In [15]:
data.loc[64]

JNTUK UNIVERSITY COLLEGE OF ENGINEERING VIZIANAGARAM (AUTONOMOUS)             63.0
Unnamed: 1                                                           50380010056.0
Unnamed: 2                                                                 14796.0
Unnamed: 3                                                              21VV1A1263
Unnamed: 4                                                            worst fellow
Unnamed: 5                                                                       F
Unnamed: 6                                                                    BC_D
Unnamed: 7                                                                      AU
Unnamed: 8                                                             BC_D_GEN_AU
Unnamed: 9                                                                     3.0
Unnamed: 10                                                                    NaN
Name: 64, dtype: object

In [19]:
data.tail(10)

,JNTUK UNIVERSITY COLLEGE OF ENGINEERING VIZIANAGARAM (AUTONOMOUS),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
61,60.0,50982010239.0,14646.0,21VV1A1260,TALLE SULOCHANA,F,BC_B,AU,BC_B_GEN_AU,2.0,NaN
62,61.0,50182010017.0,19197.0,21VV1A1261,TAMMANA SAI SANDEEP,F,SC,AU,SC_GIRLS_AU,2.0,NaN
63,62.0,50587010060.0,14115.0,21VV1A1262,UDAYAGIRI VENKATA DUNDI CHANDRA SEKHAR,F,BC_D,AU,BC_D_GIRLS_AU,3.0,NaN
64,63.0,50380010056.0,14796.0,21VV1A1263,worst fellow,F,BC_D,AU,BC_D_GEN_AU,3.0,NaN
65,64.0,50888030075.0,12070.0,21VV1A1264,VANKA KAVYA,M,BC_D,AU,BC_D_GEN_AU,3.0,NaN
66,65.0,50578020007.0,23603.0,21VV1A1265,YADLAPALLI SANKAR SAI NARAYANA,F,SC,AU,SC_GIRLS_AU,2.0,NaN
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SD/-
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VICE PRINCIPAL

In [22]:
data.to_excel('data.xlsx',sheet_name='IT')